{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Articulos</title>
{% endblock title_head %}

{% block h1_header  %}
<h1> {{articulo}} </h1>
{% endblock h1_header %}

{% block contenido %}
<ul>
    <li>Nombre : {{articulo.nombre}}</li>
    <li>Color : {{articulo.color}}</li>
    <li>Version : {{articulo.version  | safe}}</li>
    <li>Marca : {{articulo.marca}}</li>
    <li>Cantidad Requerida : {{articulo.cantidad_requerida}}</li>
    {% if articulo.imagen and articulo.imagen.url %}
    <img src="{{ articulo.imagen.url }}" alt="" height="120px">
    {% else %}
    <p>No hay imagen seleccionada</p>
    {% endif %}
    
</ul>

{% endblock contenido %}